html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.48;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

li,
ul {
  list-style: none;
}

.wrapper {
  width: 114rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4rem;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
}

.heading-tertiary {
  color: #212529;
  font-size: 2.5rem;
  font-weight: 700;
}

.heading-quarternary {
  font-size: 1.8rem;
  font-weight: 400;
}

.subheading {
  display: inline-block;
  font-size: 2rem;
  max-width: 70%;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: #212529;
}

.btn {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 5px;
  padding: 1.5rem 4.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.btn--blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3e89f3),
    color-stop(#3585f5),
    color-stop(#2b7ef3),
    color-stop(#2179f3),
    to(#1575f3)
  );
  background-image: -o-linear-gradient(
    left,
    #3e89f3,
    #3585f5,
    #2b7ef3,
    #2179f3,
    #1575f3
  );
  background-image: linear-gradient(
    to right,
    #3e89f3,
    #3585f5,
    #2b7ef3,
    #2179f3,
    #1575f3
  );
  color: #fff;
}

.btn--white {
  background-color: #fff;
  color: #177aff;
}

.btn--transparent {
  border: 0.5rem solid #fff;
  color: #fff;
  padding: 1rem 4.5rem;
}

.fadeIn,
.fadeInLeft,
.fadeInRight,
.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .fadeIn,
  .fadeInLeft,
  .fadeInRight,
  .fadeInUp {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    -o-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@media (max-width: 80em) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 60em) {
  .wrapper {
    width: 95%;
  }
  .heading-primary {
    font-size: 5.5rem;
  }
  .subheading {
    font-size: 1.8rem;
    max-width: 85%;
  }
  .heading-secondary {
    font-size: 3rem !important;
  }
  .heading-tertiary {
    font-size: 2rem !important;
  }
  .logo__img {
    width: 12rem !important;
  }
  .navigation-link {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 45em) {
  .heading-primary {
    font-size: 4.7rem;
  }
}
